**
!build/
!build/bin/
!build/bin/**
build/src/**
!build/src/
!build/src/lib/
!build/src/lib/api/
!build/src/lib/api/**
build/third_party/**
!build/third_party/
!build/third_party/jemalloc/
!build/third_party/jemalloc/lib/
!build/third_party/jemalloc/lib/libjemalloc.so.2
!configs/
!configs/**
!deploy/
!deploy/**
!patches/
!patches/entrypoint.sh
deploy/*/Dockerfile
